@import "../breakpoints/breakpoints";
.header_wrap {
  min-height: 80px;
  // height: 10vh;
  max-height: 80px;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  background: white;
  margin: auto;
  box-shadow: 0px 2px 13px -8px rgba(0, 0, 0, 0.171);
  z-index: 10;
}
.header {
  // color: red;
  min-height: 80px;
  max-height: 80px;
  // height: 10vh;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  padding: 3rem;
  // @include media("<=desktop") {
  //   max-width: 1024px;
  // }
  @include media("<=smDesktop") {
    max-width: 1082px;
  }
  @include media("<=laptop") {
    max-width: 768px;
  }
  @include media("<=smTablet") {
    padding: 2rem;
  }
}
.logo {
  text-decoration: none;
  color: black;
  height: 30px;
}
.nav {
  display: flex;

  li {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-left: 5rem;
    list-style: none;
    // cursor: pointer;
    transition: color 0.1s ease-in-out;
    color: black;

    &:hover a {
      color: rgb(255, 0, 0);
    }
  }
  @include media("<=ham") {
    // display: none;
    position: absolute;
    right: 0;
    top: 80px;
    flex-direction: column;
    z-index: 12;
    background: rgb(0, 0, 0);
    box-shadow: -5px 3px 16px -8px rgba(0, 0, 0, 0.45);
    height: 90vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    li {
      margin-left: 0;
      font-size: 2rem;
    }
    transform: translateX(110%);
    transition: transform 0.3s ease-in-out;
  }
}
// nav {
//   position: absolute;
//   width: 50vw;
//   top: 10vh;
//   bottom: 0;
//   left: 50%;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   background: white;
// }

// .navBg {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 50vh;
//   width: 50vw;
//   position: absolute;
//   top: 10vh;
//   left: 50%;
//   bottom: 0;
//   z-index: 8;
//   background: black;
//   // transform: translateX(100%);
//   // box-shadow: 0px 4px 7px -2px rgba(0, 0, 0, 0.56);
//   @include media("<=ham") {
//     flex-direction: column;
//     transform: translateX(100%);
//   }
// }
.openNav {
  transform: translateX(0%);
}
.ham {
  display: none;
  font-size: 2.4rem;
  z-index: 5;
  height: 10px;
  cursor: pointer;

  flex-direction: column;
  justify-content: space-between;
  .bar1 {
    cursor: pointer;
    width: 35px;
    height: 2px;
    background: black;
    transition: transform 0.2s ease-out;
  }
  .rotate {
    transform: rotate(45deg) translate(0, 5px);
  }
  .bar2 {
    cursor: pointer;
    width: 35px;
    height: 2px;
    background: black;
    transition: transform 0.2s ease-out;
  }
  .bar2.rotate {
    transform: rotate(-45deg) translate(0, -5px);
  }
  @include media("<=ham") {
    display: flex;
  }
}
.navItem {
  text-decoration: none;
  color: black;
  @include media("<=ham") {
    padding: 5px;
    color: white;
  }
}
.activeNavItem {
  color: red;
  @include media("<=ham") {
    border-bottom: 2px solid red;
  }
}
